.admin_navigation{
    display: block;
    float: left;
    width: 15%;
    border: 2px dashed greenyellow;
}

.add-news-form {
    display: block;
    float: left;
    padding: 1%;
    width: 70%;
    border: 2px dashed red;
    margin-left: 5%;
}