body{
    background-color: #0d001c;
    color: #ff00c7;
}

@font-face {
    font-family: 'Neon Text';
    src:url('/resources/fonts/AA-Neon.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Vermin Vibes";
    src:url('/resources/fonts/10924.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "D Determination";
    src:url('/resources/fonts/10979.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Xenoa";
    src:url('/resources/fonts/10968.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Upheaval";
    src:url('/resources/fonts/10923.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Xanthus";
    src:url('/resources/fonts/10623.ttf');
    font-weight: normal;
    font-style: normal;
}

.grid {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.article_main img{
    width: 100%;
    border-radius: 20px;
}

.boxShadow{
    text-shadow: 0 0 1px #ff00c7;
}

.article_main{
    display: inline-block;
    font-family:"Neon Text";
    font-size: 16pt;
    line-height: 1.2;
    float: left;
    width: 28%;
    border: 3px solid rgba(255, 0, 199, .3);
    .boxShadow();
    border-radius: 20px;
    padding: 10px;
    margin-left: 1%;
    margin-top: 1%;
}

.article_main > a {
    color: #ff00c7;
}

.article_main > a:visited {
    color: #360470;
}

.article_main > *:nth-child(4n+1) {
    clear: both;
}

.article_main:hover {
    box-shadow: 0 0 15pt 3pt #fc1e89;
    border: 3px solid rgba(255, 0, 199, 1);
}

.grid-item {
    width: 30%;
}

/*Чуть более простой вариант неона*/
/*.neon {*/
    /*color: rgba(255,255,255,1);*/
    /*text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px darkviolet , 0 0 70px darkviolet , 0 0 80px darkviolet , 0 0 100px darkviolet ;*/
    /*-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);*/
    /*-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);*/
    /*-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);*/
    /*transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);*/
/*}*/

/*.neon:hover{*/
    /*text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #00ffff , 0 0 70px #00ffff , 0 0 80px #00ffff , 0 0 100px #00ffff ;*/
/*}*/

.neon {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.neon:hover{
    -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    animation: neon6 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px darkviolet, 0 0 70px darkviolet, 0 0 80px darkviolet, 0 0 100px darkviolet, 0 0 150px darkviolet;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px darkviolet, 0 0 35px darkviolet, 0 0 40px darkviolet, 0 0 50px darkviolet, 0 0 75px darkviolet;
    }
}

@-moz-keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px darkviolet, 0 0 70px darkviolet, 0 0 80px darkviolet, 0 0 100px darkviolet, 0 0 150px darkviolet;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px darkviolet, 0 0 35px darkviolet, 0 0 40px darkviolet, 0 0 50px darkviolet, 0 0 75px darkviolet;
    }
}

@keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px darkviolet, 0 0 70px darkviolet, 0 0 80px darkviolet, 0 0 100px darkviolet, 0 0 150px darkviolet;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px darkviolet, 0 0 35px darkviolet, 0 0 40px darkviolet, 0 0 50px darkviolet, 0 0 75px darkviolet;
    }
}

.darkviolet-neon{
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}


.darkviolet-neon:hover{
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px darkviolet, 0 0 70px darkviolet, 0 0 80px darkviolet, 0 0 100px darkviolet, 0 0 150px darkviolet;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px darkviolet, 0 0 35px darkviolet, 0 0 40px darkviolet, 0 0 50px darkviolet, 0 0 75px darkviolet;
    }
}

@-moz-keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px darkviolet, 0 0 70px darkviolet, 0 0 80px darkviolet, 0 0 100px darkviolet, 0 0 150px darkviolet;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px darkviolet, 0 0 35px darkviolet, 0 0 40px darkviolet, 0 0 50px darkviolet, 0 0 75px darkviolet;
    }
}

@keyframes neon5 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px darkviolet, 0 0 70px darkviolet, 0 0 80px darkviolet, 0 0 100px darkviolet, 0 0 150px darkviolet;
    }
    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px darkviolet, 0 0 35px darkviolet, 0 0 40px darkviolet, 0 0 50px darkviolet, 0 0 75px darkviolet;
    }
}

.single-title {
    font-family:"Neon Text";
    font-size: 48px;
}

.single-text {
    display: inline-block;
    width: 90%;
    margin-top: 5%;
    font-family:"Xenoa";
    font-size: 14pt;
}

.single-image {
    display: inline-block;
    margin-top: 3%;
}

.single-image > img{
    width: 80%;
    border-radius: 20px;
}

.top-feed {
    display: block;
    width: 40%;
    margin-left:8%;
    margin-right: auto;
    padding: 1%;
    border: 2px solid darkviolet;
    border-radius: 20px;
    text-align: center;
    font-family: "Xenoa";
}

.top-feed:hover {
    box-shadow: 0 0 15pt darkviolet;
}

.top-feed-item {
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.top-feed-item-section {
    overflow: hidden;
}

.top-feed-item-section a {
    color: #ff00c7;
}

.top-feed-item-section a:visited{
    color: #a619cc;
}

.top-feed-item-section:after{
    content:'................................................................................................................................................................';
    display: block;
    white-space: nowrap;
    overflow: hidden;
}

.top-feed-item-section span:first-of-type{
    float: left;
}

.top-feed-item-section span:last-of-type{
    float: right;
}

.return-button {
    display: block;
    font-family:"Neon Text";
    font-size: 42pt;
    text-align: center;
    text-decoration: none;
    position: fixed;
    width: 2%;
    right: 17%;
    top: 12%;
    word-wrap: break-word;
}

/*Новый год*/
